html {
    background-image: url("../img/restaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: initial;
    
    body {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.625em;
        position: relative;
        background: none!important;

        header {
            .main-menu {
                padding-top: 20px;
                
                .header {
                    display: grid;
                    grid-template-columns: 25% 50%;
                    justify-content: space-between;
                }

                .navbar-brand {
                    font-family: titillium web,sans-serif;
                    font-size: 1.5rem!important;
                    padding-top: 0!important;
                    margin-right: 2rem!important;
                    color: #ffffff!important;
                    display: grid;
                    grid-template-columns: 10% 80%;
                    justify-content: space-around;
                
                    .logo {
                        width: 130%;
                        background: white!important;
                        border-radius: 10px;
                    }
                }
                
                #nav-menu-container {
                    margin: auto;
                    margin-right: 0;
                    
                    a {
                        font-weight: bold!important;
                    }

                    .nav-menu a {
                        padding: 0 8px 0px 8px;
                        text-decoration: none;
                        display: inline-block;
                        color: #fff;
                        font-weight: 400;
                        font-size: 12px;
                        text-transform: uppercase;
                        outline: none;
                    }

                    .nav-menu, .nav-menu * {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }

                    .nav-menu > li {
                        float: left;
                    }
                }
            }
        }
    }
}

@media (max-width: 1050px) {
    html body header .main-menu .navbar-brand {
        grid-template-columns: 10% 80%;
    }
}

@media (max-width: 600px) {
    html body header .main-menu .header {
        grid-template-columns: 100%;
    }

    html body header .main-menu .navbar-brand {
        grid-template-columns: 10% 80%;
    }

    html body header .main-menu #nav-menu-container .nav-menu a {
        font-size: 14px;
    }
}