
        
.home-page {
    .container {
        .row {
            margin-left: 0;
            margin-right: 0;
            
            .main-container {
                width: 100%;

                .main-top {
                    .create {
                        margin-bottom: 10px;
                        background-color: #434343;
                        color: white;

                        &:hover {
                            cursor: pointer;
                            background-color: #000000;
                        }
                    }
                }
                .vtables-list {
                    display: grid;
                    grid-template-columns: 24% 24% 24% 24%;
                    margin-top: 10px;
                    justify-content: space-around;

                    .vtables-preview {
                        margin-top: 30px;
                        border-style: solid;
                        border-width: 4px;
                        border-radius: 3px;
                        background: #ffffffab;
                    
                        -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
                        box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);

                        &:hover {
                            @include transition(transform, 0.4s, ease-out);
                        }
                        
                        .vtable-top {
                            display: grid;
                            grid-template-columns: 45% 45%;
                            justify-content: space-around;
                            margin-top: 10px;

                            span {
                                background-color: #434343;
                                border-radius: 2px;
                                text-align: center;
                                padding-left: 5px;
                                padding-right: 5px;
                                color: white;
                                padding: 0 8px 0px 8px;
                                text-decoration: none;
                                display: inline-block;
                                color: #fff;
                                font-weight: 400;
                                font-size: 12px;
                                text-transform: uppercase;
                                outline: none;
                                padding-top: 3px;

                                &:hover {
                                    cursor: pointer;
                                    background-color: #000000;
                                }
                            }
                        }

                        a .vtable-img {
                                background-image: url("../img/table.png");
                                margin-top: 30px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                width: 170px;
                                height: 160px;
                                margin: auto;
                            }
                    }
                }
            }
        }
    }
}

                        
                        
@media (max-width: 1050px) {
    .home-page .container .row .main-container .vtables-list {
        grid-template-columns: 30% 30% 30%;
    }

    .home-page .container .row .main-container .main-top .create {
        width: 150px;
        height: 50px;
    }

    .container {
        max-width: none;
    }
}

@media (max-width: 600px) {
    .home-page .container .row .main-container .vtables-list {
        grid-template-columns: 48% 48%;
    }

    .container {
        max-width: none;
    }
}