@mixin transition ($property, $duration, $timing: linear) {
    -webkit-transition-property: $property;
    -webkit-transition-duration: $duration;
    -webkit-transition-timing-function: $timing;

    -moz-transition-property: $property;
    -moz-transition-duration: $duration;
    -moz-transition-timing-function: $timing;

    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: $property;
    transition-property: $property, -webkit-transform;

    transition-duration: $duration;
    transition-timing-function: $timing;
    -webkit-transform: scale(1.05);
    
    transform: scale(1.05);
  }
  