.vtable-page {
    margin-left: 10%;
    margin-top: 10px;

    .banner {
        color: #fff;
        background: #33333375;
        padding: 2rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        width: 80%;

        .container {
            .vtable-actions {
                display: grid;
                grid-template-columns: 100%;
            }
        }
    }

    .container-articles {
        margin-top: 20px;
        width: 78%;

        .article-container {
            margin-top: 15px;
            display: grid;
            grid-template-columns: 19% 19% 19% 19% 19%;
            justify-content: space-around;

            .article-preview {
                background: #33333375;
                padding: 2rem;
                margin-bottom: 2rem;
                border-radius: 10px;
                color: white;
                text-align: center;
                display: grid;
                grid-template-rows: 5% 90% 10%;
                
                .article-top {
                    margin-top: -15%;
                    margin-left: 55%;

                    .served {
                        color: green;
                    }

                    .notserved {
                        color: red;
                    }
                }

                .article-img {
                    width: 100px;
                }

                .preview-bottom {
                    margin-bottom: 0%;

                    .signs {
                        font-size: 40px;
                        font-weight: bold;
                        cursor: pointer;

                        &:hover {
                            color:#bdbdbd;
                        }
                    }
                }
            }            
        }
    }

    .nav-links {
        display: block;
        padding: .5em 1em;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid transparent;
        background: #8b8b8b;
        color: #ffffff!important;;
        cursor: pointer;
    }

    .active {
        background: #636363!important;
        border-bottom: 2px solid #b6b6b6!important;
        color: #ffffff!important;
    }
}

@media (max-width: 1050px) {
    .vtable-page .container-articles .article-container {
        grid-template-columns: 32% 32% 32%;
    }

    .vtable-page .container-articles .article-container .article-preview {
        max-height: 380px;
    }
}

@media (max-width: 650px) {
    .vtable-page .container-articles .article-container {
        grid-template-columns: 100%;
    }

    .vtable-page .container-articles .article-container .article-preview .article-top {
        margin-top: -5%;
        margin-left: 55%;
    }
}