html {
  background-image: url("../img/restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: initial;
}

html body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  background: none !important;
}

html body header .main-menu {
  padding-top: 20px;
}

html body header .main-menu .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50%;
      grid-template-columns: 25% 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body header .main-menu .navbar-brand {
  font-family: titillium web,sans-serif;
  font-size: 1.5rem !important;
  padding-top: 0 !important;
  margin-right: 2rem !important;
  color: #ffffff !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80%;
      grid-template-columns: 10% 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body header .main-menu .navbar-brand .logo {
  width: 130%;
  background: white !important;
  border-radius: 10px;
}

html body header .main-menu #nav-menu-container {
  margin: auto;
  margin-right: 0;
}

html body header .main-menu #nav-menu-container a {
  font-weight: bold !important;
}

html body header .main-menu #nav-menu-container .nav-menu a {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
}

html body header .main-menu #nav-menu-container .nav-menu, html body header .main-menu #nav-menu-container .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

html body header .main-menu #nav-menu-container .nav-menu > li {
  float: left;
}

@media (max-width: 1050px) {
  html body header .main-menu .navbar-brand {
    -ms-grid-columns: 10% 80%;
        grid-template-columns: 10% 80%;
  }
}

@media (max-width: 600px) {
  html body header .main-menu .header {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  html body header .main-menu .navbar-brand {
    -ms-grid-columns: 10% 80%;
        grid-template-columns: 10% 80%;
  }
  html body header .main-menu #nav-menu-container .nav-menu a {
    font-size: 14px;
  }
}

.home-page .container .row {
  margin-left: 0;
  margin-right: 0;
}

.home-page .container .row .main-container {
  width: 100%;
}

.home-page .container .row .main-container .main-top .create {
  margin-bottom: 10px;
  background-color: #434343;
  color: white;
}

.home-page .container .row .main-container .main-top .create:hover {
  cursor: pointer;
  background-color: #000000;
}

.home-page .container .row .main-container .vtables-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24% 24% 24% 24%;
      grid-template-columns: 24% 24% 24% 24%;
  margin-top: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home-page .container .row .main-container .vtables-list .vtables-preview {
  margin-top: 30px;
  border-style: solid;
  border-width: 4px;
  border-radius: 3px;
  background: #ffffffab;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
}

.home-page .container .row .main-container .vtables-list .vtables-preview:hover {
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: transform;
  -moz-transition-duration: 0.4s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.home-page .container .row .main-container .vtables-list .vtables-preview .vtable-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.home-page .container .row .main-container .vtables-list .vtables-preview .vtable-top span {
  background-color: #434343;
  border-radius: 2px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
  padding-top: 3px;
}

.home-page .container .row .main-container .vtables-list .vtables-preview .vtable-top span:hover {
  cursor: pointer;
  background-color: #000000;
}

.home-page .container .row .main-container .vtables-list .vtables-preview a .vtable-img {
  background-image: url("../img/table.png");
  margin-top: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px;
  height: 160px;
  margin: auto;
}

@media (max-width: 1050px) {
  .home-page .container .row .main-container .vtables-list {
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
  }
  .home-page .container .row .main-container .main-top .create {
    width: 150px;
    height: 50px;
  }
  .container {
    max-width: none;
  }
}

@media (max-width: 600px) {
  .home-page .container .row .main-container .vtables-list {
    -ms-grid-columns: 48% 48%;
        grid-template-columns: 48% 48%;
  }
  .container {
    max-width: none;
  }
}

.vtable-page {
  margin-left: 10%;
  margin-top: 10px;
}

.vtable-page .banner {
  color: #fff;
  background: #33333375;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  width: 80%;
}

.vtable-page .banner .container .vtable-actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.vtable-page .container-articles {
  margin-top: 20px;
  width: 78%;
}

.vtable-page .container-articles .article-container {
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19% 19% 19% 19% 19%;
      grid-template-columns: 19% 19% 19% 19% 19%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.vtable-page .container-articles .article-container .article-preview {
  background: #33333375;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 90% 10%;
      grid-template-rows: 5% 90% 10%;
}

.vtable-page .container-articles .article-container .article-preview .article-top {
  margin-top: -15%;
  margin-left: 55%;
}

.vtable-page .container-articles .article-container .article-preview .article-top .served {
  color: green;
}

.vtable-page .container-articles .article-container .article-preview .article-top .notserved {
  color: red;
}

.vtable-page .container-articles .article-container .article-preview .article-img {
  width: 100px;
}

.vtable-page .container-articles .article-container .article-preview .preview-bottom {
  margin-bottom: 0%;
}

.vtable-page .container-articles .article-container .article-preview .preview-bottom .signs {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.vtable-page .container-articles .article-container .article-preview .preview-bottom .signs:hover {
  color: #bdbdbd;
}

.vtable-page .nav-links {
  display: block;
  padding: .5em 1em;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background: #8b8b8b;
  color: #ffffff !important;
  cursor: pointer;
}

.vtable-page .active {
  background: #636363 !important;
  border-bottom: 2px solid #b6b6b6 !important;
  color: #ffffff !important;
}

@media (max-width: 1050px) {
  .vtable-page .container-articles .article-container {
    -ms-grid-columns: 32% 32% 32%;
        grid-template-columns: 32% 32% 32%;
  }
  .vtable-page .container-articles .article-container .article-preview {
    max-height: 380px;
  }
}

@media (max-width: 650px) {
  .vtable-page .container-articles .article-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .vtable-page .container-articles .article-container .article-preview .article-top {
    margin-top: -5%;
    margin-left: 55%;
  }
}

.orders-container {
  margin-left: 10%;
  margin-top: 10px;
}

.orders-container .article-container {
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19% 19% 19% 19% 19%;
      grid-template-columns: 19% 19% 19% 19% 19%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.orders-container .article-container .article-preview {
  background: #33333375;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 90% 10%;
      grid-template-rows: 5% 90% 10%;
}

.orders-container .article-container .article-preview .article-top {
  margin-top: -15%;
  margin-left: 55%;
}

.orders-container .article-container .article-preview .article-img {
  width: 100px;
}

.orders-container .article-container .article-preview .preview-bottom {
  margin-bottom: 0%;
}

.orders-container .article-container .article-preview .preview-bottom .signs {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.orders-container .article-container .article-preview .preview-bottom .signs:hover {
  color: #bdbdbd;
}

.orders-container .nav-links {
  display: block;
  padding: .5em 1em;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background: #8b8b8b;
  color: #ffffff !important;
  cursor: pointer;
}

.orders-container .active {
  background: #636363 !important;
  border-bottom: 2px solid #b6b6b6 !important;
  color: #ffffff !important;
}

@media (max-width: 1050px) {
  .orders-container .article-container {
    -ms-grid-columns: 32% 32% 32%;
        grid-template-columns: 32% 32% 32%;
  }
  .orders-container .article-container .article-preview {
    max-height: 380px;
  }
}

@media (max-width: 650px) {
  .orders-container .article-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .orders-container .article-container .article-preview .article-top {
    margin-top: -5%;
    margin-left: 55%;
  }
}

.updateImg {
  width: 10%;
}

.typeProduct {
  color: white;
  font-size: 19px;
  background: #757575;
  border-radius: 5px;
  margin-right: 15px;
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */