

@import "_mixins";
@import "_header";
@import "_home";
@import "_vtable";
@import "_order";


.updateImg {
    width: 10%;
}

.typeProduct {
    color: white;
    font-size: 19px;
    background: #757575;
    border-radius: 5px;
    margin-right: 15px;
    padding: 5px;
}